$orange: #EA504E;
$blue: #147FD7;
$darkblue: #162D6E;
$lightblue: #74C1FF;
$lightgray: #EEF0F7;
$gray: #A2A7B7;
$red: #F55B5B;
$text: #364350;
$white: #FFFFFF;
$red: #F55B5B;
$redhover: #EC3E3E;

$menu-lightgray-border: #E2E4EC;
$menu-darkblue: #0D63AA;
