@import 'colors';
@import 'breakpoints';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: $lightgray;
}

div#htv-app {
  max-width: 1000px;
  margin: 2em auto;
  padding: 0 1rem;
  font-size: 1.2em;
  font-family: freight-sans-pro;

  a {
    cursor: pointer;
  }

  strong a {
  font-weight: bold;
  }

  ::selection {
    background: $blue;
    color: white;
    text-shadow: none!important;
  }

  .center {
    text-align: center;
  }

  h1 {
    color: $blue;
    font-family: jubilat;
    font-size: 60px;
    margin: 0;
    font-weight: 400;
    .kern {
      letter-spacing: -0.1em;
    }
  }

  h2 {
    color: $orange;
    text-transform: uppercase;
    font-family: freight-sans-pro;
    font-size: 32px;
  }

  h3 {
    font-family: freight-sans-pro;
    font-size: 24px;
  }

  p {
    font-family: freight-sans-pro;
    font-size: 20px;
    font-weight: 300;
  }

  .blue {
    color: $blue;
  }

  .jubilat {
    font-family: jubilat;
    font-weight: 400;
  }

  .caps {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
  }

  .btn {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ced4e4;
    font-size: 0.9em;
    color: #0f3059;
    font-weight: 600;
    letter-spacing: 0.075em;
    display: block;
    padding: 0.75em 1em 0.85em;
    line-height: 0.9;
    margin: 0.5em 0;
    text-align: center;
    border-radius: 3px;

    &:hover {
      background-color: darken(#ced4e4, 5%);
    }

    &.block {
      width: 200px;
    }

    &.blue {
      font-size: 1em;
      font-weight: 700;
      color: white;
      background-color: $blue;

      &:hover {
        background-color: lighten($blue, 5%);
      }
    }

    &.red {
      font-size: 1em;
      font-weight: 700;
      color: white;
      background-color: $orange;

      &:hover {
        background-color: lighten($orange, 5%);
      }
    }
  }
}

div.addeventatc {
  display: block;
  background-color: #ced4e4;
  font-size: 12px;
  color: #0f3059 !important;
  text-transform: uppercase;
  font-family: freight-sans-pro;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 8px;
  border: none;

  &:hover {
    font-size: 12px;
    border: none;
    background: #bec6db;
  }

  span.addeventatc_icon {
    display: none;
  }
}

@media (max-width: $phablet) {
  div#htv-app {
    h1 {
      font-size: 40px;
    }
  }
}

@media (max-width: $tablet) {
  .sticky-inner-wrapper {
    position: static!important;
    transform: none !important;
    width: auto !important;
  }
}
