$orange: #EA504E;
$blue: #147FD7;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: #eef0f7;
}

div#htv-app {
  max-width: 1000px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: freight-sans-pro;

  ::selection {
    background: $blue;
    color: white;
    text-shadow: none!important;
  }

  .center {
    text-align: center;
  }

  h1 {
    color: $blue;
    font-family: jubilat;
    font-size: 60px;
    margin: 0;
    font-weight: 400;
    .kern {
      letter-spacing: -0.1em;
    }
  }

  h2 {
    color: $orange;
    text-transform: uppercase;
    font-family: freight-sans-pro;
    font-size: 32px;
  }

  h3 {
    font-family: freight-sans-pro;
    font-size: 24px;
  }

  p {
    font-family: freight-sans-pro;
    font-size: 24px;
    font-weight: 300;
    &.center{
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 20px;
      color: #6F7488;
      font-family: 'Freight Sans Medium';
    }
  }
}
