@font-face {
  font-family: 'freight-sans-pro';
  src: url('fonts/FreightSans-Book.ttf');
}

@font-face {
  font-family: 'Freight Sans Medium';
  src: url('fonts/FreightSans-Medium.ttf');
}

@font-face {
  font-family: 'jubilat';
  src: url('fonts/JubilatMedium-Roman.otf');
}
