/*
$orange: #EA504E;
$blue: #147FD7;

div.footer-offset {
  text-align: center;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  footer {
    font-family: 'Freight Sans Book';
    font-size: 16px;
    color: #364350;

    nav {
      display: flex;
      justify-content: center;

      div.navgroup {
        width: 12%;
        margin-left: 4%;

        h3 {
          color: $orange;
          font-size: 20px;
          text-transform: uppercase;
          text-align: left;
          margin-bottom: 15px;
          font-weight: 500;
          letter-spacing: 2px;
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            text-align: left;
            margin-bottom: 15px;

            a {
              font-family: freight-sans-pro;
              font-size: 18px;
              text-decoration: none;
              color: #364350;

              &:hover {
                color: #147FD7;
              }
            }
          }
        }
      }
    }
  }

  p.address {
    text-align: center;
    font-family: freight-sans-pro;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    color: #364350;
  }

  p.site-title {
    font-family: freight-sans-pro;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #364350;
    max-width: 300px;
    padding: 15px;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  img.billionaires {
    margin-left: auto;
    margin-right: auto;
  }

  p.copy {
    font-family: freight-sans-pro;
    font-weight: 300;
    text-transform: uppercase;
    color: #364350;
    letter-spacing: 2px;

    span {
      margin-right: 3px;
    }

    a {
      margin-left: 3px;
      font-family: freight-sans-pro;
      text-decoration: none;
      color: #364350;

      &:hover {
        color: #147FD7;
      }
    }
  }
}
*/

$lightgray: #EFF3F7;
$red: #F55B5B;
$text: #364350;
$blue: #147FD7;

body{
  margin: 0;
}

.module-wrapper{
  position: relative;
  &:after {
    display: block;
    position: absolute;
    height: 50%;
    background-color: $lightgray;
    width: 100%;
    content: "";
    bottom: 0;
    z-index: -1;
  }
}

div.ready-form {
  max-width: 590px;
  margin: 0 .5rem;
  background-color: $blue;
  border-radius: 5px;
  @media (min-width: 600px){
    margin: 0 auto;
  }
  @media (min-width: 980px){
    max-width: 600px;
  }
  @media (min-width: 1200px){
    max-width: 700px;
  }
  h1 {
    color: white;
    font-family: jubilat;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    padding: 15px;
    margin-bottom: 0px;
    @media (min-width: 600px){
      font-size: 3rem;
    }
    @media (min-width: 768px){
      font-size: 3.2rem;
      padding: 20px;
    }
    @media (min-width: 768px){
      font-size: 3.75rem;
      padding: 25px;
    }
  }

  hr {
    height: 2px;
    width: 70%;
    border: none;
    background-color: #8ABFEB;
    margin-top: 0;
    margin-bottom: 0;
  }

  form {
    padding: 15px;
    padding-top: 20px;
    text-align: center;
    @media (min-width: 600px){
      padding-top: 25px;
    }
    input {
      height: 45px;
      padding-left: 10px;
      font-family: freight-sans-pro;
      font-weight: 300;
      border-radius: 3px;
      font-size: 20px;
      outline: 0;
      margin: 0;
      margin-bottom: 10px;
      border: none;
      box-sizing: border-box;
      &[type=email] {
        width: 100%;
        @media (min-width: 600px){
          width: 40%;
          margin-right: 15px;
          margin-bottom: 25px;
        }
      }

      &[type=text] {
        width: 100%;
        @media (min-width: 600px){
          width: 20%;
        }
      }

      &[type=submit] {
        padding-left: 0px;
        width: 100%;
        text-align: center;
        background-color: $orange;
        color: white;
        border-radius: 3px;
        font-family: freight-sans-pro;
        font-size: 18px;
        line-height: 2.6;
        letter-spacing: 2px;
        font-weight: 600;
        text-transform: uppercase;
        -moz-box-shadow: 0px 0px 5px #095DA2;
        -webkit-box-shadow: 0px 0px 5px #095DA2;
        box-shadow: 0px 0px 5px #095DA2;
        margin-top: 5px;
        padding: 0;
        @media (min-width: 600px){
          width: 20%;
          margin-left: 15px;
        }
        &:hover {
          background-color: darken($orange, 10%);
          cursor: pointer;
        }
      }
    }
  }
}

.footer-offset{
  background-color: $lightgray;
}
footer{
  max-width: 80rem;
  margin: 0 auto;
  padding: 2.5rem 0 1rem;
  nav{
    float: none;
    margin: 1rem 1rem 2rem;
    @media (min-width: 768px) {
      margin: 2rem;
    }
    div{
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      &:nth-child(2n){
        margin-right: 0;
      }
      &:last-of-type{
        width: 100%;
        margin-right: 0;
      }
      @media (min-width: 600px) {
        margin-right: 2.35765%;
        width: 18.11388%;
        &:first-of-type{
          margin-left: 0;
        }
        &:nth-child(2n){
          margin-right: 2.35765%;
        }
        &:last-of-type{
          margin-right: 0;
          width: 18.11388%;
          clear: none;
        }
      }
      @media (min-width: 768px) {
        margin-right: 2.35765%;
        width: 15.55494%;
        &:first-of-type{
          margin-left: 8.5298%;
        }
        &:last-of-type{
          margin-right: 0;
          width: 15.55494%;
        }
      }
    }
    h3{
      color: $red;
      font-size: 1rem;
      font-family: 'Freight Sans Medium';
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: .1em;
      text-align: center;
      padding-top: 1.25rem;
      @media (min-width: 600px) {
        text-align: left;
        padding-top: 0.5rem;
      }
      @media (min-width: 768px) {
        font-size: 1.1rem;
      }
      @media (min-width: 980px) {
        font-size: 1.3rem;
      }
    }
    ul{
      text-align: center;
      float: none;
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width: 600px) {
        text-align: left;
      }
      li{
        display: block;
        margin: 0.5rem 0;
        line-height: 1;
        @media (min-width: 600px) {
          margin: 0.75rem 0;
        }
        @media (min-width: 768px) {
          margin: 0.75rem 0;
        }
        @media (min-width: 980px) {
          margin: 0.75rem 0;
        }
        a{
          color: $text;
          text-shadow: none;
          text-transform: none;
          font-family: 'freight-sans-pro';
          text-decoration: none;
          font-weight: 300;
          font-size: 1rem;
          padding: 0;
          letter-spacing: 0;
          display: block;
          @media (min-width: 768px) {
            font-size: 1rem;
          }
          @media (min-width: 980px) {
            font-size: 1.1rem;
          }
          &:hover{
            color: $blue;
          }
        }
      }
    }
  }
  p{
    text-align: center;
    clear: both;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: freight-sans-pro;
    font-size: 0.9rem;
    a, a:link, a:visited{
      color: $text;
      &:hover{
        color: $blue;
        text-decoration: none;
      }
    }
  }
  .address{
    padding: 0.5rem 0;
    line-height: 1.5;
  }
  .site-title{
    font-family: freight-sans-pro;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid $text;
    font-size: 1rem;
    max-width: 300px;
    padding: 0.6rem 0;
    margin: 2rem auto 0;
  }
  .billionaires{
    display: block;
    margin: 1rem auto 3rem;
    width: 197px;
    height: 28px;
    background-size: 197px 28px;
    text-indent: -999em;
    background-image: url('https://s.bsd.net/bernie16/main/page/-/website/billionaires-2x.png');
  }
  .copy a{
    text-decoration: none;
    margin-left: 5px;
  }
  span.copyright {
    margin-right: 5px;
    color: $text;
  }
}
