@import 'colors';

h1#main-header {
  div.state-dropdown {
    display: inline-block;

    &:hover {
      cursor: pointer;
    }

    div#header-select {
      display: inline-block;
      color: $blue;
      font-family: jubilat;
      font-size: 60px;
      margin: 0;
      font-weight: 400;
      background: none;
      border-bottom: solid 6px $lightblue;
      outline: none;
      border-radius: 0px;
    }

    div#header-arrow {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 15px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $gray;
    }
  }

  div#state-list {
    position: absolute;
    width: 325px;
    height: 300px;
    background-color: white;
    z-index: 10;
    overflow-y: scroll;
    border: solid 2px $gray;
    border-radius: 3px;

    div.select-state {
      text-align: left;
      text-transform: uppercase;
      color: $gray;
      font-family: freight-sans-pro;
      font-size: 24px;
      padding: 25px;
    }

    a {
      display: block;
      width: 100%;
      text-align: left;
      text-decoration: none;
      color: $blue;
      font-size: 32px;
      padding: 10px;
      padding-left: 25px;
      box-sizing: border-box;

      &:hover {
        background-color: $lightgray;
        color: $orange;
      }
    }
  }
}
