@import 'colors';

div#htv-app {
  h1#main-heading {
    padding: 0 1em;
    box-sizing: border-box;
    margin-bottom: 25px;

    ul {
      background-color: white;
      text-align: left;
      padding: 0;
      height: 40vh;
      overflow-y: scroll;
      position: absolute;
      box-shadow: 0px 1px 10px #a6aeb9;
      top: 0;
      width: calc(100% + 1em);
      min-width: 250px;
      z-index: 99;
      padding-top: 0.25em;

      li {
        list-style-type: none;
        font-family: freight-sans-pro;
        font-weight: 700;
        font-size: 0.5em;
        padding: 0.3em 1em;

        &.heading {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 0.3em;
          letter-spacing: 0.1em;
          color: #a2a7b7;
          padding-left: 1.8em;
          padding-bottom: 0.5em;
        }

        a {
          text-decoration: none;
          color: $blue;
        }

        &:not(.heading) {
          &:hover, &:focus {
            background-color: $lightgray;
            
            a {
              color: $orange;
            }
          }
        }
      }
    }

    div#select {
      cursor: pointer;
      position: relative;
      display: inline-block;
      border-bottom: 5px solid #74c1ff;

      &:after {
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        border-left: 0.25em solid transparent;
        border-right: 0.25em solid transparent;
        border-top: 0.25em solid #bdc3d1;
        content: "";
        top: 0.4em;
        right: -0.75em;
      }
    }
  }
}
