@import 'colors';
@import 'breakpoints';

div#htv-app {
  div#map {
    p.sub {
      color: $orange; 
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 20px;
      font-family: 'Freight Sans Medium';
    }

    div#map-wrapper {
      width: 100%;

      div#map-container {
        position: relative;
        width: 100%;
      }
    }
  }

  div.hoverinfo {
    background-color: $lightgray;
    padding: 0px;
    width: 250px;

    div.name {
      font-family: jubilat;
      font-size: 30px;
      color: $blue;
      padding: 10px;
      text-align: center;
      background-color: white;
    }

    div.small {
      color: $gray;
      font-family: freight-sans-pro;
      text-transform: uppercase;
      padding: 20px;
      padding-bottom: 0px;
      font-size: 15px;
    }

    div.large {
      padding: 20px;
      padding-top: 0px;
      font-family: jubilat;
      font-size: 20px;
      color: $darkblue;

      &:not(:last-of-type) {
        padding-bottom: 0px;
      }
    }
  }
}

@media (max-width: $phablet) {
  div#htv-app {
    padding-top: 0px;

    div#map {
      p {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

  div.hoverinfo {
    display: none;
  }
}
