@import 'colors';

div#htv-app {
  div#map {
    p.sub {
      color: $orange; 
    }

    div#map-wrapper {
      width: 100%;

      div#map-container {
        position: relative;
        width: 100%;
      }
    }

    select#state-select {
      display: none;
    }
  }

  div.hoverinfo {
    background-color: $lightgray;
    padding: 0px;
    width: 250px;

    div.name {
      font-family: jubilat;
      font-size: 30px;
      color: $blue;
      padding: 10px;
      text-align: center;
      background-color: white;
    }

    div.small {
      color: $gray;
      font-family: freight-sans-pro;
      text-transform: uppercase;
      padding: 20px;
      padding-bottom: 0px;
      font-size: 15px;
    }

    div.large {
      padding: 20px;
      padding-top: 0px;
      font-family: jubilat;
      font-size: 20px;
      color: $darkblue;

      &:not(:last-of-type) {
        padding-bottom: 0px;
      }
    }
  }
}

@media (max-width: 600px) {
  div#htv-app {
    padding-top: 0px;

    div#map {
      p {
        padding-left: 25px;
        padding-right: 25px;
      }

      select#state-select {
        -webkit-appearance: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: $blue;
        color: white;
        border: none;
        outline: 0;
        font-family: freight-sans-pro;
        font-size: 32px;
        width: 90%;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}
